{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic Page Needs –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="UTF-8">
    <title>{% block title %}Camera Kit Comparison{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Mobile Specific Metas –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- FONT –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

    <!-- CSS –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="stylesheet" href="{% static 'kit_comparison/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'kit_comparison/skeleton.css' %}">
    <link rel="stylesheet" href="{% static 'kit_comparison/style.css' %}">

    <!-- Scripts –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <!-- Favicon –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    {#  <link rel="icon" type="image/png" href="dist/images/favicon.png">#}
</head>
<body>
<div class="container">
    <a href="{% url 'kit_comparison:index' %}"><h1>Camera Kit Comparison</h1></a>
    {% block content %}{% endblock %}
</div>
</body>
</html>