{% extends "kit_comparison/base.html" %}

{% block title %}Lens Detail{% endblock %}

{% block content %}
    <h2>{{ lens.manufacturer }} {{ lens.name }}</h2>
    <p>Technical data</p>
    <table>
        <tr>
            <td>Focal length</td>
            <td>{{ lens.focal_length }}</td>
        </tr>
        <tr>
            <td>Aperture</td>
            <td>{{ lens.aperture }}</td>
        <tr>
            <td>Weight [g]</td>
            <td>{{ lens.weight }}</td>
        <tr>
            <td>Length [mm]</td>
            <td>{{ lens.length }}</td>
        <tr>
            <td>Diameter [mm]</td>
            <td>{{ lens.diameter }}</td>
        <tr>
            <td>Filter size [mm]</td>
            <td>{{ lens.filter_size }}</td>
       </tr>
    </table>
{% endblock %}